// Variabile globale pentru tema site-ului
$prim-color: #027cf5;
$sa-color: #ecf0f1;
$text-color: #333;
$hover-bg-color: #2c3e50cc;
$hover-text-color: #fff;
$background-submenu: antiquewhite;
$text-color-menu: #ff4b4bcc;
$ico-bg-color: #DDDD88;
$border-width: 1px;
body {
    font-family: Arial, sans-serif;
    background-color: $sa-color;
    color: $text-color;
}

// Nesting și styling pentru meniuri
nav {
    background-color: var(--ico-bg-color);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            display: flex;
            position: relative;
            padding: 10px 20px;
            // margin-right: 3px;
            justify-content: center;
            align-items: center;
            z-index: 1;

            &::before{
                content:"";
                width: 0%;
                height: 0%;
                position: absolute;
                left: 50%;
                background-color: $hover-bg-color;
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before{
                width: 100%;
                height: 100%;
                left: 0;
            }

            &:hover > ul {
                transform: scale(1);
                left: 0;
                display: flex;
                top:100%
            }
            ul {
                transform: scale(1);
				display: none;
                background-color: antiquewhite;
                position: absolute;
                top: -200%;
                left: -100%;
                flex-direction: column;
                white-space: nowrap;
                transition: all 0.4s ease-in-out;
            }

            &:hover > a {
                color: $text-color-menu;
            }

            a{
                text-decoration: none;
            }
        }
        
    }
}

//galery

#galerie {
    display: grid;
	width: min-content;
	margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "img2 img1 img3"
        "img4  .  img5"
        "img6  .  img7"
        "img8 img9 img10";

    img {
        width: 200px;
        aspect-ratio: 0.7;
		border: $border-width solid $prim-color;
        transition: transform 1.2s, border 1.2s;
    }

    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }
    .img5 { grid-area: img5; }
    .img6 { grid-area: img6; }
    .img7 { grid-area: img7; }
    .img8 { grid-area: img8; }
    .img9 { grid-area: img9; }
    .img10 { grid-area: img10; }

    figure {
        margin: 0;
        padding: 0;
        // overflow: hidden;
    }

    figure:hover img {
        transform: scale(1.25) rotate(-10deg);
        border: calc($border-width + 4px) solid $prim-color;
    }
}

// Meniu pentru ecrane mici
@media (max-width: 768px) {
    .menu-active {
        display: flex !important;
    }
    header{
        height: max-content;
    }
        .hamburger{   
            position: absolute;
            top:20px;
            right:40px;
            width: 35px;
            height: 35px;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            div{
                height: 2px;
                width: 25px;
                background-color: rgb(255, 255, 255);
                position: absolute;
                @for $i from 1 through 3 {
                    &.ham-#{$i} {
                        animation: anim#{$i} 1s linear #{$i*0.2}s;
                        margin-top: 4px + ($i - 1) * 8px;
                    }
                }
                
                  @keyframes anim1 {
                    0% {
                        transform: rotate(45deg);
                        margin-top: 12.5px;
                      }
                    50%{
                        margin-left: -50px;
                      background-color: rgb(6, 97, 92);
                      height: 15px;
                    }
                    100% {
                        transform: rotate(180deg);
                        margin-top: 4px;
                    }
                  }
                  @keyframes anim2 {
                    0% {
                      margin-top: 25px;
                      transform: rotate(-45deg);
                      }
                    50%{
                      transform: rotate(-120deg);
                      background-color: rgb(255, 166, 0);
                      height: 25px;
                        margin-left: 50px;
                    }
                    100% {
                        transform: rotate(-180deg);
                    }
                  }
                  @keyframes anim3 {
                    0% {
                      background-color: red;
                      border-radius: 20%;
                    }
                    50%{
                      background-color: green;
                      height: 25px;
                      border-radius: 50%;
                    }
                    100% {
                      background-color: blue;
                    }
                  }
            }
        }
    nav {
        // clip-path: polygon(0% 0%, 30% 0, 100% 50%, 30% 100%, 0% 100%);
        ul {
            flex-direction: column;
            display: none;
            li{
            flex-direction: column;
            a{
                padding-bottom: 8px;
            }
                ul{
                    display: none;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    position: relative;
                }
            }
        }
        &.anim-class{
            animation: coming 2s linear;
        }
        @keyframes coming {
            0%{
                clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
                margin-left: -100vw;
                margin-right: 100vw;
            }
            100%{
                clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

            }
            
        }
    }
	#galerie {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
            "img9 img10";
    }
}

@media (max-width: 480px) {
    #galerie {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas: 
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8"
            "img9"
            "img10";
    }
}


.styled-hr {
    border: 0;
    height: 5px;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 44%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 56%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);    margin: 20px 0;
    border-radius: 5px;
	position: relative;
	opacity: 1;
	overflow: visible;
}

.styled-hr::before {
    content: "★";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    font-size: 20px;
	height: max-content;
}
.container-gal{
	overflow: hidden;
	border: #027cf5 solid 10px;
	border-image: url('/resurse/imagini/galerie/imagine.png') 27;
	width: min-content;
	position: relative;
	// height: 550px;
	// width: auto;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#galerie-dinamica{
	display: grid;
	&[data-lendi="9"] {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 
			"img1 img3 img2"
			"img7 img4 img5"
			"img9 img8 img6";
		animation: dinam3 25s ease-in-out infinite;
	}
	&[data-lendi="9"]:hover {
		animation-play-state: paused;
	}
	&[data-lendi="4"]{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 
			"img1 img3"
			"img2 img4";
		}
	&[data-lendi="16"]{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: 
			"img1 img3 img2 img13"
			"img7 img4 img5 img14"
			"img9 img8 img6 img15"
		  "img10 img11 img12 img16";
	}

    grid-gap: 0px;
    

    img {
        width: 200px;
		aspect-ratio: 0.7;
		border: $border-width solid $prim-color;
        transition: transform 1.2s, border 1.2s;
    }
 
    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }
    .img5 { grid-area: img5; }
    .img6 { grid-area: img6; }
    .img7 { grid-area: img7; }
    .img8 { grid-area: img8; }
    .img9 { grid-area: img9; }
    .img10 { grid-area: img10; }
    .img11 { grid-area: img11; }
    .img12 { grid-area: img12; }
    .img13 { grid-area: img13; }
    .img14 { grid-area: img14; }
    .img15 { grid-area: img15; }
    .img16 { grid-area: img16; }
}

@keyframes dinam3 {
    0% {
        transform: scale(1);
    }
    5% {
        // Focus on img1
        transform: scale(3) translateX(33.3%) translateY(33.3%);
    }
    10% {
        // Outside
        transform: scale(1);
    }
    15% {
        // Focus on img2
        transform: scale(3) translateX(-33.3%) translateY(33.3%);
    }
    20% {
        // Outside
        transform: scale(1);
    }
    25% {
        // Focus on img3
        transform: scale(3) translateX(0%) translateY(33.3%);
    }
    30% {
        // Outside
        transform: scale(1);
    }
    35% {
        // Focus on img4
        transform: scale(3);
    }
    40% {
        // Outside
        transform: scale(1);
    }
    45% {
        // Focus on img5
        transform: scale(3) translateX(-33.3%) translateY(0%);
    }
    50% {
        // Outside
        transform: scale(1);
    }
    55% {
        // Focus on img6
        transform: scale(3) translateX(-33.3%) translateY(-33.3%);
    }
    60% {
        // Outside
        transform: scale(1);
    }
    65% {
        // Focus on img7
        transform: scale(3) translateX(33.3%) translateY(0%);
    }
    73% {
        // Outside
        transform: scale(1);
    }
    79% {
        // Focus on img8
        transform: scale(3) translateX(0%) translateY(-33.3%);
    }
    86% {
        // Outside
        transform: scale(1);
    }
    93% {
        // Focus on img9
        transform: scale(3) translateX(33.3%) translateY(-33.3%);
    }
    100% {
        // Outside
        transform: scale(1);
    }
}



// Duotone effect
.duotone {
	margin: auto;
    position: relative;
    background-image: url("/resurse/imagini/produse/genetic.jpg");
    background-size: cover;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.duotone::before,
.duotone::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all 2s linear;
}

.duotone::before {
    background-color: rgb(205, 0, 255);
    mix-blend-mode: darken;
    left: -100%;
}

.duotone::after {
    background-color: rgb(0, 0, 255);
    mix-blend-mode: lighten;
    right: -100%;
}

.duotone:hover::before {
    left: 0;
}

.duotone:hover::after {
    right: 0;
}

// Reflexie effect
.reflexie {
    display: inline-block;
    position: relative;
    color: var(--color-highlight);
	transition: color 2s;
	// width: 200%;
	height: 150px;
	transform: rotate(-30deg) skew(-40deg);
}

.reflexie::after {
    content: attr(data-text);
	// width: 200%;
    display: block;
    position: absolute;
    top: 85px;
    left: 150%;
    transform: scaleX(-1)  skew(-40deg) rotate(-30deg) rotate(-30deg) skew(-40deg);
    color: var(--color-highlight);
	transition: color 2s;
    // opacity: 0.5;
}

.reflexie:hover,
.reflexie:hover::after {
    color: #43586d;
}

// Text columns
.text-columns {
	margin: 20px 0;
	column-count: 2;
	column-gap: 20px;
	column-rule: 1px solid #ccc;
}
@media (max-width: 768px) {
	.text-cdolumns {
		column-count: 1;
	}
}

// Text selection
::selection {
	background: rgb(31, 135, 161);
	color: #d6d6d6;
}

// Moving text
@keyframes moveText {
	0% { transform: translateX(300%); }
	100% { transform: translateX(-100%); }
}

.moving-text {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
.moving-text p {
	// background-color: #027cf5;
	white-space: nowrap;
	display: inline-block;
	animation: moveText 10s linear infinite;
}

// Fixed background
.fixed-background {
	width: 100%;
	height: 50vh;
	background-attachment: fixed;
	background-size: cover;
	animation: changeBackground 10s infinite;
	color:white;
}