// Variabile globale pentru tema site-ului
$prim-color: #027cf5;
$sa-color: #ecf0f1;
$text-color: #333;
$hover-bg-color: #2c3e50cc;
$hover-text-color: #fff;
$background-submenu: antiquewhite;
$text-color-menu: #ff4b4bcc;
$ico-bg-color: #DDDD88;
$border-width: 1px;
body {
    font-family: Arial, sans-serif;
    background-color: $sa-color;
    color: $text-color;
}

// Nesting și styling pentru meniuri
nav {
    background-color: var(--ico-bg-color);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            display: flex;
            position: relative;
            padding: 10px 20px;
            // margin-right: 3px;
            justify-content: center;
            align-items: center;
            z-index: 1;

            &::before{
                content:"";
                width: 0%;
                height: 0%;
                position: absolute;
                left: 50%;
                background-color: $hover-bg-color;
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before{
                width: 100%;
                height: 100%;
                left: 0;
            }

            &:hover > ul {
                transform: scale(1);
                left: 0;
                display: flex;
                top:100%
            }
            ul {
                transform: scale(0);
                display: flex;
                background-color: antiquewhite;
                position: absolute;
                top: -200%;
                left: -100%;
                flex-direction: column;
                white-space: nowrap;
                transition: all 0.4s ease-in-out;
            }

            &:hover > a {
                color: $text-color-menu;
            }

            a{
                text-decoration: none;
            }
        }
        
    }
}

//galery

#galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "img1 img2 img3"
        "img4  .  img5"
        "img6  .  img7"
        "img8 img9 img10";

    img {
        width: 100%;
        height: auto;
		border: $border-width solid $prim-color;
        transition: transform 1.2s, border 1.2s;
    }

    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }
    .img5 { grid-area: img5; }
    .img6 { grid-area: img6; }
    .img7 { grid-area: img7; }
    .img8 { grid-area: img8; }
    .img9 { grid-area: img9; }
    .img10 { grid-area: img10; }

    figure {
        margin: 0;
        padding: 0;
        // overflow: hidden;
    }

    figure:hover img {
        transform: scale(1.25) rotate(-10deg);
        border: calc($border-width + 4px) solid $prim-color;
    }
}

// Meniu pentru ecrane mici
@media (max-width: 768px) {
    .menu-active {
        display: flex !important;
    }
    header{
        height: max-content;
    }
        .hamburger{   
            position: absolute;
            top:20px;
            right:40px;
            width: 35px;
            height: 35px;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            div{
                height: 2px;
                width: 25px;
                background-color: rgb(255, 255, 255);
                position: absolute;
                @for $i from 1 through 3 {
                    &.ham-#{$i} {
                        animation: anim#{$i} 1s linear #{$i*0.2}s;
                        margin-top: 4px + ($i - 1) * 8px;
                    }
                }
                
                  @keyframes anim1 {
                    0% {
                        transform: rotate(45deg);
                        margin-top: 12.5px;
                      }
                    50%{
                        margin-left: -50px;
                      background-color: rgb(6, 97, 92);
                      height: 15px;
                    }
                    100% {
                        transform: rotate(180deg);
                        margin-top: 4px;
                    }
                  }
                  @keyframes anim2 {
                    0% {
                      margin-top: 25px;
                      transform: rotate(-45deg);
                      }
                    50%{
                      transform: rotate(-120deg);
                      background-color: rgb(255, 166, 0);
                      height: 25px;
                        margin-left: 50px;
                    }
                    100% {
                        transform: rotate(-180deg);
                    }
                  }
                  @keyframes anim3 {
                    0% {
                      background-color: red;
                      border-radius: 20%;
                    }
                    50%{
                      background-color: green;
                      height: 25px;
                      border-radius: 50%;
                    }
                    100% {
                      background-color: blue;
                    }
                  }
            }
        }
    nav {
        // clip-path: polygon(0% 0%, 30% 0, 100% 50%, 30% 100%, 0% 100%);
        ul {
            flex-direction: column;
            display: none;
            li{
            flex-direction: column;
            a{
                padding-bottom: 8px;
            }
                ul{
                    display: none;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    position: relative;
                }
            }
        }
        &.anim-class{
            animation: coming 2s linear;
        }
        @keyframes coming {
            0%{
                clip-path: polygon(0% 0%, 30% 0, 100% 50%, 30% 100%, 0% 100%);
                margin-left: -100vw;
                margin-right: 100vw;
            }
            100%{
                clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

            }
            
        }
    }
	#galerie {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
            "img9 img10";
    }
}

@media (max-width: 480px) {
    #galerie {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas: 
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8"
            "img9"
            "img10";
    }
}


.styled-hr {
    border: 0;
    height: 5px;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 44%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 56%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);    margin: 20px 0;
    border-radius: 5px;
	position: relative;
	opacity: 1;
	overflow: visible;
}

.styled-hr::before {
    content: "★";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    font-size: 20px;
	height: max-content;
}