:root {
    --color-background: #dfd7c1;
    --color-text: #222200;
    --color-border: #613516;
    --color-highlight: #a03300;
    --color-accent: #cf0000;
    --menu-bg-color: #ecf0f1;
    --menu-text-color: #ffb597;
    --color-link-default: #a03300; 
    --color-link-visited: #6C757D;
    --color-c1: rgba(0, 247, 255, 0.329); 
    --color-c2: rgba(155, 155, 155, 0.8); 
	--ico-bg-color: #DDDD88;
}

/* START of CSS reset  */

html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    transition: font-size 1s ease-in-out;
}
body > * {
    padding: 20px 80px 20px 80px;
    max-width: 1150px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 1px 1px 15px rgba(44, 44, 44, 0.27);
}
q{
    font-family: "Great Vibes", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
      
}
table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 10px;
}

caption {
    caption-side: bottom;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

table {
    border: 5px double #444; 
}
.table-container {
    overflow-x: auto; 
}
th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

td:nth-child(odd), th:nth-child(odd) {
    color: #e8a01a; 
}

td:nth-child(even), th:nth-child(even) {
    color: #152925; 
}
th, tr, td{
    transition: all 0.3s ease-in;
}
tr:hover {
    background-color: #f1ffbe; 
    color: #000; 
}

tr:hover th, tr:hover td {
    border-width: 5px; 
}

header{
    background-color: var(--color-text);
    color: var(--color-background);
}
footer{
    background-color: var(--color-text);
    color: var(--color-background);
}

#grid-pagina{
    display: grid;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-areas: "z-fig1 z-fig1 z-fig1 z-fig1"
                         "z-prezentare z-prezentare z-produse z-produse"
                         "z-promovare z-calculator z-produse z-produse"
                         "z-utilizator z-calculator z-produse z-produse"
                         "z-utilizator z-audiobook z-audiobook z-faq"
        ;
}

picture > img{
    width: 100%;
}
iframe {
    height: auto;
    width: 100%;
}

.taburi-iframe {
    display: flex; 
    gap: 10px; 
    justify-content: center;
    align-items: center;
    a {
        border: #000 solid 1px;
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        box-shadow: rgb(182, 79, 65) 0px 0px 8px;
        text-decoration: none;
        transition: background-color 0.5s ease-in-out ;
    }
    a:hover{
        background-color: rgba(165, 116, 42, 0.404);
    }
}
@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(255,255,255,1);
    inherits: false;
  }
  
  @property --myColor2 {
    syntax: '<color>';
    initial-value: rgba(153,153,153,1);
    inherits: false;
  }
#button-top {
    position: fixed;
    left: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-decoration: none;
}

#button-top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed rgb(59, 59, 59);
    border-radius: 50%;
    box-sizing: border-box;
    background: radial-gradient(var(--myColor1), var(--myColor2), var(--myColor1));
    transition: border-color 0.4s ease, --myColor1 1s ease, --myColor2 1s ease;
    animation: xrotate-circle 1s linear;
    opacity: 0.5;
}

#button-top:hover::before {
    border-color: white;
    animation: rotate-circle 1s linear;
    --myColor1: var(--color-highlight);
    --myColor2: var(--color-text);
    opacity: 1;
}
#arrow {
    font-size: 20px;
    color: #000;
    position: relative;
    z-index: 1;
}

#tooltip {
    position: absolute;
    bottom: 70px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

#button-top:hover #tooltip {
    opacity: 1;
    visibility: visible;
}



/* bonus etapa 2 - mathlab */

mi {
    color: var(--color-highlight);
    font-style: italic;
    font-weight: bold;
}

mo {
    color: var(--color-text);
    font-size: 1.2em;
}

mfrac {
    color: var(--color-border);
}

mtext {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
}

math {
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    line-height: 1.6;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes xrotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

/* Etapa 3 - print */

@media print{
    @page{
        margin-top:4cm;
    }
    img, video, iframe, figure, #button-top {
        display: none !important;
      }
    #banner{
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        border: 2px dotted black;
        text-align: center;
        margin: 0 auto;
        padding: 2px;
    }
    #grid-pagina{
        display: block;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    h1{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5em;
        text-align: center;
        text-decoration: underline;
    }
    h1::after {
        content: "";
        display: block;
        page-break-after: always;
    }
    header{
        display: none;
    }
    footer {
        page-break-before: always;
    }
    body::before {
        content: "Lungu-Ailenei Dionisie";
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 2cm;
        border: 2px double black;
        opacity: 0.65;
        text-align: center;
    }
    @page {
        margin: 2.5cm 0.5cm;
    }

    @page :left {
        margin-left: 2.5cm;
        margin-right: 0.5cm;
    }

    @page :right {
        margin-right: 2.5cm;
        margin-left: 0.5cm;
    }
}

/* ecran mediu */
@media (max-width: 768px) {
    #grid-pagina {
      grid-template-areas:
        "z-fig1 z-fig1"
        "z-prezentare z-promovare"
        "z-produse z-produse"
        "z-calculator z-faq"
        "z-audiobook z-audiobook";
    }
    body{
        font-size: 14px;
    }
    body > * {
        padding: 15px 40px 15px 40px;
    }
    .table-container {
        overflow-x: scroll; 
    }
}
  
  /* ecran mic */
@media (max-width: 480px) {
    #grid-pagina {
      grid-template-areas:
        "z-fig1"
        "z-prezentare"
        "z-produse"
        "z-promovare"
        "z-calculator"
        "z-faq"
        "z-audiobook";
    }
    body{
        font-size: 12px;
        transition: none;
    }
    body > * {
        padding: 5px 20px 5px 20px;
    }
}
#fig1{
    grid-area: z-fig1;
}
#prezentare-librarie{
    grid-area: z-prezentare;
}
#produse-cautate{
    grid-area: z-produse;
}
#promovare{
    grid-area: z-promovare;
}
#utilizator{
    grid-area: z-utilizator;
}
#calculator{
    grid-area: z-calculator;
}
#faq{
    grid-area: z-faq;
}
#audiobook{
    grid-area: z-audiobook;
}

  
h1, h2, h3 {
    color: var(--color-highlight);
}
  
button {
    background-color: var(--color-highlight);
    color: var(--color-text);
    border: 2px solid var(--color-border);
}
  
button:hover {
    background-color: var(--color-accent);
}
  /* stilizare-linkuri */
a {
    text-decoration: none;
    color: var(--color-link-default);
    transition: all 0.3s ease; 
}

a:visited {
    color: var(--color-link-visited); 
}

a[href^="http"]::before {
    content: "⮳"; 
    margin-right: 0.5em; 
    font-size: 1.5em; 
    color: var(--color-link-default);
    transition: color 0.3s ease; 
}

a[href^="http"]:hover::before {
    color: var(--color-c2); 
}

main a {
    position: relative;
    background-image: radial-gradient(circle, 
                    var(--color-c1) 0%, 
                    var(--color-c1) 40%, 
                    transparent 80%, 
                    transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0%;
    transition: background-size 0.4s ease-in-out;
}

main a:hover {
    background-size: 100%;
}

a:active {
    border: 1px solid var(--color-border); 
}

