<footer>
    <a href="#" id="button-top">
        <span id="tooltip">Mergi în susul paginii</span>
        <span id="arrow">&#8593;</span>
    </a>
    <p>
        Telefon: <a href="tel:+40756985423">+4 0756 985 423</a>
    </p>
    <p>
        Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+București" target="_blank">Str. Mărăști, nr. 14, București</a>
    </p>
    <p>
        Email: <a href="mailto:contact@bookies.com">contact@bookies.com</a>
    </p>
    <p>
        Chat:<a href="https://api.whatsapp.com/send?phone=40756985423" target="_blank">WhatsApp</a> 
    </p>
    <p>
        <small>
            &copy; <time datetime="2024-10-21">2024</time> Bookies. Toate drepturile rezervate.
        </small>
    </p>
    <p id="banner">
        Acesta este un proiect scolar!
    </p>
</footer>