<header>
    <img src="/resurse/ico/favicon.ico">
    <div class="hamburger">
        <div class="ham-1"></div>
        <div class="ham-2"></div>
        <div class="ham-3"></div>
    </div>
    <nav>
        <ul>            
            <li>
                <a href="/">Acasă</a>
                <ul>
                    <li>
                        <a href="#produse-populare">Top Sale</a>
                    </li>
                    <li>
                        <a href="#inceput-scoala">Recomandări</a>
                    </li>
                    <li>
                        <a href="#cod-reducere">Reducere</a>
                    </li>
                    <li>
                        <a href="#cafea-fursecuri">Cafea și Fursecuri</a>
                    </li>
                    <li>
                        <a href="#faq">Intrebari</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#categorii">Categorii</a>
                <ul>
                    <li>
                        <a href="#drama">Drama</a>
                    </li>
                    <li>
                        <a href="#thriller">Thriller</a>
                    </li>
                    <li>
                        <a href="#business">Business</a>
                    </li>
                    <li>
                        <a href="#istorie">Istorie</a>
                    </li>
                    <li>
                        <a href="#fiction">Ficțiune</a>
                    </li>
                    <li>
                        <a href="#stiinta-tehnologie">Știință și Tehnologie</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/despre">Despre noi</a>
            </li>
            <li>
                <a href="#contul-meu">Contul Meu (Login)</a>
            </li>
        </ul>
    </nav>
</header>